<!DOCTYPE html>

<html>

    <head>
        <title>
            Music Taste Comparator
        </title>
        <link rel='stylesheet' href='/stylesheets/index.css' />
        <link rel='icon' href='icon2.png'>
        <script src="https://kit.fontawesome.com/12ffa399b2.js" crossorigin="anonymous"></script>

    </head>

    <body>
        <div class='outer-container'>
            <div class='login-container'>
                <div class='login-container2'>
                    <div class='login-container3'>
                        <div class='login-container4'>
                            <div class='title'> MUSIC TASTE<br>COMPARATOR</div>
                            <div class='login-button' id='log-in-button'>LOG IN <span class='with'>with</span><i class="fab fa-spotify"></i>SPOTIFY</div>
                            <div class='demo-user-button' id='demo-user-button'>DEMO USER
                                <div class='demo-user-button-dropdown'>
                                    <div class='demo-user-button-p'>
                                        <div class='demo-user-button-title'>
                                            To Log In as Demo User:
                                        </div>
                                        <div class='demo-user-button-line'></div>
                                        <div class='demo-user-button-content'>Click DEMO USER button
                                            <br>
                                            Enter:
                                            <br>
                                            Username: UserDemoUser01
                                            <br>
                                            Password: userdemouser01
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script>
            function loginPage() {
                window.location.href = "/login"
            };
            
            // function demoUserLogIn() {

            // };

            document.addEventListener("DOMContentLoaded", () => {
                const loginButton = document.getElementById("log-in-button");
                loginButton.addEventListener("click", loginPage);
            });

            document.addEventListener("DOMContentLoaded", () => {
                const loginButton = document.getElementById("demo-user-button");
                loginButton.addEventListener("click", loginPage);
            });
        
       

        </script>
    </body>
</html>