<!DOCTYPE html>

<html>

    <head>
        <title>
            Music Taste Comparator
        </title>
        <link rel='stylesheet' href='/stylesheets/main.css' />
    </head>

    <body>
        <script>
            function loginPage() {
                window.location.href = "/login"
            }
        </script>
    </body>
</html>