.body {
    background-color: rgb(250, 202, 226);
}
.nav-bar-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-height: 110px;

}
.main-title-container-outer {
    display: flex;
    padding: 15px;
    background-color: aquamarine;
    margin-bottom: 10px;
    border: 2px solid black;
}
.main-title-container-inner {
    display: flex;
    background-color: aquamarine;
    border: 2px solid rgb(250, 202, 226);
    padding: 10px;
    align-items: center;
}
.main-title {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 48px;
    display: flex;
    width: 507px;
    /* padding-bottom: 8px; */
    /* border: 2px solid black; */
    /* width: 50%; */
}
.demo-container-outer {
    display: flex;
    padding: 15px;
    background-color: black;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    border: 2px solid black;
}
.demo-container-inner {
    display: flex;
    background-color: black;
    border: 2px solid aquamarine;
    padding: 10px;
    align-items: center;
    color: aquamarine;
    font-size: 12px;
}
.demo {
    display: flex;
    align-items: center;
}
.search-form-container-outer {
    display: flex;
    padding: 15px;
    background-color: black;
    margin-bottom: 10px;
    border: 2px solid black;
}
.search-form-container-inner {
    display: flex;
    background-color: black;
    border: 2px solid aquamarine;
    padding: 10px;
    align-items: center;
}
.search-form-elements{
    font-family: 'Open Sans Condensed', sans-serif;
    color: aquamarine;
    display: flex;
    /* align-items: center; */
    /* width: 50%; */
}

.search-form-elements {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.input {
    display: flex;
    background-color: rgb(250, 202, 226);
    border: 2px solid aquamarine;
    margin: 10px;
}
input[type=text] {
    background-color: rgb(250, 202, 226);
}

.submit-button {
    display: flex;
    border: 2px solid rgb(250, 202, 226);
    background-color: black;
    color: aquamarine;
}

.main-body-container {
    display: flex;
}
.track-info-container {
    display: flex;
    background-color: black;
    color: white;
    flex-direction: column;
}
.track-info-container2 {
    display: flex;
    background-color: black;
    color: white;
    flex-direction: column;
    width: 300px;

}
.track-info-container-border-outer {
    display: flex;
    background-color: black;
    padding: 15px;
    flex-direction: column;
}
.track-info-container-border {
    display: flex;
    border: 2px solid aquamarine;
    flex-direction: column;
    height: 100%;
}
.top-tracks-title {
    padding: 10px;
    display: flex;
    font-family: 'Noto Serif', serif;
    font-style: italic;
    font-size: 24px;
    color: aquamarine;
    margin: 0 auto;
    border-bottom: 2px solid aquamarine;
    width: 70%;
}

.track-name {
    display:flex;
    font-family: 'Noto Serif', serif;
    font-size: 12px;
    padding-right: 15px;
}
.mid-container {
    display: flex;
    flex-direction: column;
}
.canvas {
    /* display: flex; */
    /* position: relative; */
    width: 600px;
    border: 17px solid black;
    padding: 25px;
    margin-left: 10px;
    margin-right: 10px;
    max-height: 600px;
    margin-bottom: 10px;
}
.canvas-sub-container {
    display: flex;
    min-height: 75px;
    width: 100%;
    background-color: black;
    align-items: center;
    justify-content: center;
}
.mid-bottom-outer {
    display: flex;
    background-color: black;
    height: 100%;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 15px;
    padding-bottom: 18px;
}
.mid-bottom-inner {
    display: flex;
    background-color: black;
    width: 100%;
    height: 100%;
    border: 2px solid aquamarine;
}

.tooltip {
    text-align: center;
    color: aquamarine; 
    z-index: 200;
    font-size: 32px;
    font-family: 'Open Sans Condensed', sans-serif;
    background-color: black;
    border: 2px solid aquamarine;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 3px;
} 
