.body {
    display: flex;
    background-color: rgb(250, 202, 226);
    justify-content: space-around;
}
.main-container {
    display: flex;
    justify-content: space-around;
}
.side-bar {
    display: flex;
    flex-shrink: 3;
    flex-grow: 3;
    width: 20%;
}
.mid-bar {
    display: flex;
    flex-direction: column;
    flex-shrink: 1;
    flex-grow: 1;
    width: 100%;
}
.nav-bar-container {
    display: flex;
    justify-content: space-between;
    max-height: 110px;
    max-width: 1357px;

}
.main-title-container-outer {
    display: flex;
    padding: 15px;
    background-color: aquamarine;
    margin-bottom: 10px;
    border: 2px solid black;
}
.main-title-container-inner {
    display: flex;
    background-color: aquamarine;
    border: 2px solid rgb(250, 202, 226);
    padding: 10px;
    align-items: center;
}
.main-title {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 48px;
    display: flex;
    width: 507px;
    /* padding-bottom: 8px; */
    /* border: 2px solid black; */
    /* width: 50%; */
}
.demo-container-outer {
    display: flex;
    padding: 15px;
    background-color: black;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    border: 2px solid black;
}
.demo-container-inner {
    display: flex;
    background-color: black;
    border: 2px solid aquamarine;
    padding: 10px;
    align-items: center;
    color: aquamarine;
    font-size: 12px;
}
.instructions {
    display: flex;
    font-family: 'Open Sans Condensed', sans-serif;
    border: 3px solid rgb(250, 202, 226);
    background-color: aquamarine;
    color: black;
    padding: 5px;
    position: relative;
    height: 26px;
    align-items: center;
}
.instructions:hover {
    color: aquamarine;
    background-color: rgb(250, 202, 226);
    border: 3px solid aquamarine;
}
.instructions:hover .instructions-dropdown{
    display: block;
}

.instructions-dropdown{
    display: none;
    position: absolute;
    background-color: black;
    border: 3px solid aquamarine;
    z-index: 1;
    /* height: 200px;
    width: 200px; */
    top: 100px;
    right: -50px;
    width: 200px;
}
.instructions-dropdown .instructions-p:after {
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    bottom: 100%;
    right: 53px;
    border-width: 0 0px 55px 18px;
    border-style: solid;
    border-color: black transparent;
    padding-top: 20px;
  }
  .instructions-dropdown .instructions-p:before {
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    bottom: 100%;
    right: 50px;
    border-width: 0 0px 70px 25px;
    border-style: solid;
    border-color: aquamarine transparent;
  }
  
  .instructions-title {
    padding: 9px;
    display: flex;
    font-family: 'Noto Serif', serif;
    font-style: italic;
    font-size: 22px;
    color: aquamarine;
    margin-left: 37px;
  }
  .welcome-line {
    width: 77%;
    border-top: 2px solid aquamarine;
    margin-left: 23px;
  }

  .instructions-content {
    margin-top: 15px;
    font-family: 'Noto Serif', serif;
    font-size: 12px;
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 15px;
    max-width: 200px;
    color: rgb(250, 202, 226);
    line-height: 1.2;
  }

.demo {
    display: flex;
    align-items: center;
}
.search-form-container-outer {
    display: flex;
    padding: 15px;
    background-color: black;
    margin-bottom: 10px;
    border: 2px solid black;
}
.search-form-container-inner {
    display: flex;
    background-color: black;
    border: 2px solid aquamarine;
    padding: 10px;
    align-items: center;
}
.search-form-elements{
    font-family: 'Open Sans Condensed', sans-serif;
    color: aquamarine;
    display: flex;
    /* align-items: center; */
    /* width: 50%; */
}

.search-form-elements {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.enter-username {
    font-family: 'Open Sans Condensed', sans-serif;
    border: 2px solid rgb(250, 202, 226);
    /* background-color: aquamarine; */
    color: aquamarine;
    padding: 3px;
    height: 29px;
    font-size: 12px;
    text-align: center;
    padding-top: 8px;
}


.input {
    display: flex;
    background-color: rgb(250, 202, 226);
    border: 2px solid aquamarine;
    margin: 10px;
    height: 38px;
    font-size: 18px;
    color: black;
}
input[type=text] {
    background-color: rgb(250, 202, 226);
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 1px solid 2px solid rgb(250, 202, 226);
    -webkit-text-fill-color: black;
    -webkit-box-shadow: 0 0 0px 1000px aquamarine inset;
transition: background-color 5000s ease-in-out 0s;
}
input[type=submit]:focus{
    outline: aquamarine solid 2px;
}
input[type=text]:focus{
    outline: rgb(250, 202, 226) solid 3px;
}
.submit-button {
    font-family: 'Open Sans Condensed', sans-serif;
    display: flex;
    border: 3px solid rgb(250, 202, 226);
    background-color: aquamarine;
    color: black;
    height: 44px;
}
.submit-button:hover {
    color: aquamarine;
    background-color: rgb(250, 202, 226);
    border: 3px solid aquamarine;
}

.main-body-container {
    display: flex;
}
.track-info-container {
    display: flex;
    background-color: black;
    flex-direction: column;
    width: 100%;
    align-items: center;
}
.track-info-container2 {
    display: flex;
    background-color: black;
    flex-direction: column;
    width: 100%;
    align-items: center;
}
.track-info-container-border-outer {
    display: flex;
    background-color: black;
    padding: 15px;
    flex-direction: column;
    width: 25%;
}
.track-info-container-border {
    display: flex;
    border: 2px solid aquamarine;
    flex-direction: column;
    height: 100%;
    /* min-width: 200px; */
    /* width: 100%; */
}
.top-tracks-title {
    padding: 10px;
    display: flex;
    font-family: 'Noto Serif', serif;
    font-style: italic;
    font-size: 22px;
    color: aquamarine;
    margin: 0 auto;
    /* border-bottom: 2px solid aquamarine; */
    /* width: 70%; */
}
.top-tracks-title-line {
    display: flex;
    width: 80%;
    border-top: 2px solid aquamarine;
    
    
}
.tracks-ul {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 5px;
    padding-left: 30px;
    list-style-type: disc;

}
ul {
    list-style: none;
  }
  
li::before {
    content: "•  ";
    color: aquamarine;
    margin-right: 5px;
    margin-left: 20px;
}
.track-name {
    display: flex;
    font-family: 'Noto Serif', serif;
    font-size: 12px;
    max-width: 215px;
    color: rgb(250, 202, 226);
    padding: 3px;
}
.mid-container {
    display: flex;
    flex-direction: column;
    width: 50%;
}
.canvas {
    /* display: flex; */
    /* position: relative; */
    /* width: 100%; */
    border: 17px solid black;
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
    max-height: 600px;
    margin-bottom: 10px;
}
.canvas-sub-container {
    display: flex;
    min-height: 75px;
    width: 100%;
    background-color: black;
    align-items: center;
    justify-content: center;
}
.mid-bottom-outer {
    display: flex;
    background-color: black;
    height: 100%;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 15px;
    padding-bottom: 18px;
}
.mid-bottom-inner {
    display: flex;
    background-color: black;
    width: 100%;
    height: 100%;
    border: 2px solid aquamarine;
    flex-direction: column;
    align-items: center;
}
.mid-bottom-body {
    display: flex;
    height: 90%;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.mid-bottom-body-left {
    display: flex;
    width: 33%;
}
.mid-bottom-body-mid {
    display: flex;
    width: 33%;
}
.comparative-data-output {
    display: flex;
    padding: 10px;
}
.comparative-genre-container {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}
.top-genre-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.top-genre-title {
    padding: 10px;
    display: flex;
    font-family: 'Noto Serif', serif;
    font-style: italic;
    font-size: 14px;
    color: rgb(250, 202, 226);
    margin: 0 auto;
}
.top-genre {
    display: inline-block;
    text-align: center;
    color: black; 
    font-size: 32px;
    font-family: 'Open Sans Condensed', sans-serif;
    background-color: rgb(250, 202, 226);
    border: 2px solid aquamarine;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-top: 5px;
    height: 30px;
    width: fit-content;
}
.common-genre-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.common-genre-title {
    padding: 10px;
    display: flex;
    font-family: 'Noto Serif', serif;
    font-style: italic;
    font-size: 14px;
    color: rgb(250, 202, 226);
    margin: 0 auto;
}
.common-genre {
    display: inline-block;
    text-align: center;
    color: black; 
    font-size: 32px;
    font-family: 'Open Sans Condensed', sans-serif;
    background-color: aquamarine;
    border: 4px solid rgb(250, 202, 226);
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-top: 5px;
    height: 30px;
    border-radius: 7px;
    width: fit-content;
    /* align-items: center; */
}
.count-genre-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.count-genre-title {
    padding: 10px;
    display: flex;
    font-family: 'Noto Serif', serif;
    font-style: italic;
    font-size: 14px;
    color: rgb(250, 202, 226);
    margin: 0 auto;
}
.count-genre {
    display: inline-block;
    text-align: center;
    color: aquamarine; 
    font-size: 32px;
    font-family: 'Open Sans Condensed', sans-serif;
    background-color: black;
    border: 2px solid aquamarine;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-top: 5px;
    height: 30px;
    width: fit-content;
    align-items: center;
}
.percent-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.percent-title {
    padding: 10px;
    display: flex;
    font-family: 'Noto Serif', serif;
    font-style: italic;
    font-size: 14px;
    color: rgb(250, 202, 226);
    margin: 0 auto;
}
.percent{
    display: flex;
    text-align: center;
    color: black; 
    font-size: 32px;
    font-family: 'Open Sans Condensed', sans-serif;
    background-color: aquamarine;
    border: 2px solid aquamarine;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-top: 5px;
    height: 30px;
    border-radius: 100%;
    width: 50px;
    height: 50px;
    align-items: center;
}
.mid-bottom-body-right {
    display: flex;
    width: 33%;
}
.mid-bottom-line {
    width: 90%;
    border-top: 2px solid aquamarine;
}

.tooltip {
    text-align: center;
    color: aquamarine; 
    z-index: 200;
    font-size: 32px;
    font-family: 'Open Sans Condensed', sans-serif;
    background-color: black;
    border: 2px solid aquamarine;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-top: 5px;
} 
.footer {
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.footer-info {
    font-family: 'Open Sans Condensed', sans-serif;
    display: flex;
    font-size: 12px;
    color: rgb(250, 202, 226);
    align-items: flex-end;
    padding: 5px;
    padding-left: 7px;
}
.by {
    color: aquamarine;
    font-family: 'Noto Serif', serif;
    font-style: italic;
    font-size: 10px;
    margin-right: 5px;

}
.footer-icons {
    display: flex;
    font-size: 32px;
    color: rgb(250, 202, 226);
    padding: 5px;
    padding-right: 7px;
    justify-content: space-around;
    width: 23%
}

a:hover {
    color: rgb(253, 138, 58)
}

a:visited {
    color: rgb(53, 148, 224);
  }
a:active {
    color:rgb(106, 252, 97);
}
/* a:visited:active {
    color:rgb(106, 252, 97);
} */
a:visited:hover{
    color: rgb(253, 138, 58)
}