.body {
    display: flex;
    justify-content: space-around;
    background-color: black;
}
.main-container {
    display: flex;
    justify-content: space-around;
    background-color: rgb(250, 202, 226);
    margin-bottom: 20px; */
    padding-bottom: 15px; */
    border-radius: 10px;
}
.main-container1 {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    border-radius: 10px;
    background-color: rgb(250, 202, 226);
    border: 4px solid rgb(255,157,115, .97);
    
}
.main-container2 {
    border: 4px solid rgb(75,201,203);
    display: flex;
    border-radius: 10px;
}
.main-container3 {
    display: flex;
    border: 4px solid rgb(83,247,112, .9);
    border-radius: 10px;
}
.main-container4 {
    border: 4px solid aquamarine;
    display: flex;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    align-items: center; */
}

.side-bar {
    display: flex;
    flex-shrink: 3;
    flex-grow: 3;
    width: 10px;
}
.mid-bar {
    display: flex;
    flex-direction: column;
    flex-shrink: 1;
    flex-grow: 1;
    max-width: 1116px;
}
.nav-bar-container {
    display: flex;
    justify-content: space-between;
    max-height: 110px;
    max-width: 1116px;
    min-width: 1116px;


}
.main-title-container-outer {
    display: flex;
    padding: 15px;
    background-color: aquamarine;
    margin-bottom: 10px;
    border: 2px solid black;
}
.main-title-container-inner {
    display: flex;
    background-color: aquamarine;
    border: 2px solid rgb(250, 202, 226);
    padding: 10px;
    align-items: center;
}
.main-title {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 48px;
    display: flex;
    width: 507px;
}
.demo-container-outer {
    display: flex;
    padding: 15px;
    background-color: black;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    border: 2px solid black;
}
.demo-container-inner {
    display: flex;
    background-color: black;
    border: 2px solid aquamarine;
    padding: 10px;
    align-items: center;
    color: aquamarine;
    font-size: 12px;
}
.instructions {
    display: flex;
    font-family: 'Open Sans Condensed', sans-serif;
    border: 3px solid rgb(250, 202, 226);
    background-color: aquamarine;
    color: black;
    padding: 5px;
    position: relative;
    height: 26px;
    align-items: center;
}
.instructions:hover {
    color: aquamarine;
    background-color: rgb(250, 202, 226);
    border: 3px solid aquamarine;
}
.instructions:hover .instructions-dropdown{
    display: block;
}

.instructions-dropdown{
    display: none;
    position: absolute;
    background-color: black;
    border: 3px solid aquamarine;
    z-index: 1;
    width: 200px; */
    top: 100px;
    right: -50px;
    width: 200px;
}
.instructions-dropdown .instructions-p:after {
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    bottom: 100%;
    right: 53px;
    border-width: 0 0px 55px 18px;
    border-style: solid;
    border-color: black transparent;
    padding-top: 20px;
  }
  .instructions-dropdown .instructions-p:before {
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    bottom: 100%;
    right: 50px;
    border-width: 0 0px 70px 25px;
    border-style: solid;
    border-color: aquamarine transparent;
  }
  
  .instructions-title {
    padding: 9px;
    display: flex;
    font-family: 'Noto Serif', serif;
    font-style: italic;
    font-size: 22px;
    color: aquamarine;
    margin-left: 37px;
  }
  .welcome-line {
    width: 77%;
    border-top: 2px solid aquamarine;
    margin-left: 23px;
  }

  .instructions-content {
    margin-top: 15px;
    font-family: 'Noto Serif', serif;
    font-size: 12px;
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 15px;
    max-width: 200px;
    color: rgb(250, 202, 226);
    line-height: 1.2;
  }

.demo {
    display: flex;
    align-items: center;
}
.search-form-container-outer {
    display: flex;
    padding: 15px;
    background-color: black;
    margin-bottom: 10px;
    border: 2px solid black;
    width: 100%;
    padding-right: 6px
}
.search-form-container-inner {
    display: flex;
    background-color: black;
    border: 2px solid aquamarine;
    padding: 8px;
    align-items: center;
}
.search-form-elements{
    font-family: 'Open Sans Condensed', sans-serif;
    color: aquamarine;
    display: flex;
}

.search-form-elements {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logout-container {
    display: flex;
    background-color: black;
    margin-left: 7px;
}
.logout-container a:visited{
    color: black;
}
.logout-container a:visited:hover{
    color: red;
}
.logout-button {
    position: relative;
    padding-top: 5px;
    padding-left: 2px;
    padding-right: 2px;
    display: flex;
    background-color: red;
    border: 2px solid aquamarine;
    flex-direction: column;
    align-items: center;
}
.logout-line {
    display: flex;
    border: 2px solid black;
    width: 4px;
    height: 100%;
    margin: 4px;
}
.logout-button:hover .logout-line {
    border: 2px solid red;
    background-color: rgb(238, 80, 165);
}
.logout-button:hover {
    border: 2px solid red;
    background-color: rgb(252, 157, 108);
    color: red;
}
.logout-button:hover .logout-button-dropdown{
    display: block;
    margin-top: 143px;
    padding-bottom: 10px;
}

.logout-button-dropdown{
    display: none;
    position: absolute;
    background-color: black;
    border: 3px solid red;
    z-index: 1;
    width: 200px; */
    top: -48px;
    right: -9px;
    width: 280px;
}
.logout-button-dropdown .logout-button-p:after {
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    bottom: 144px;
    right: 23px;
    border-width: 0px 0px 30px 50px;
    border-style: solid;
    border-color: black transparent;
    padding-top: 20px;
  }
  .logout-button-dropdown .logout-button-p:before {
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    bottom: 150px;
    right: 20px;
    border-width: 0px 0px 30px 50px;
    border-style: solid;
    border-color: red transparent;
  }
  .logout-button-p {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .logout-button-title {
    display: flex;
    padding: 9px;
    display: flex;
    font-family: 'Noto Serif', serif;
    font-style: italic;
    font-size: 22px;
    color: red;
    justify-content: center;
    letter-spacing: normal;
  }
  .logout-button-line {
    display: flex;
    width: 77%;
    border-top: 2px solid red;
  }

  .logout-button-content {
    font-family: 'Open Sans Condensed', sans-serif;
    display: flex;
    margin-top: 10px;
    color: red;
    line-height: normal;
    letter-spacing: normal;
  }



.enter-username {
    font-family: 'Open Sans Condensed', sans-serif;
    border: 2px solid rgb(250, 202, 226);
    color: aquamarine;
    padding: 3px;
    height: 29px;
    font-size: 12px;
    text-align: center;
    padding-top: 8px;
    width: 55px;
}

.input {
    display: flex;
    background-color: rgb(250, 202, 226);
    border: 2px solid aquamarine;
    margin: 8px;
    height: 38px;
    font-size: 18px;
    color: black;
    width: 171px;;
}
input[type=text] {
    background-color: rgb(250, 202, 226);
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 1px solid 2px solid rgb(250, 202, 226);
    -webkit-text-fill-color: black;
    -webkit-box-shadow: 0 0 0px 1000px aquamarine inset;
transition: background-color 5000s ease-in-out 0s;
}
input[type=submit]:focus{
    outline: aquamarine solid 2px;
}
input[type=text]:focus{
    outline: rgb(250, 202, 226) solid 3px;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: aquamarine;
}
::-moz-placeholder { /* Firefox 19+ */
    color: aquamarine;
}
:-ms-input-placeholder { /* IE 10+ */
    color: aquamarine;
}
:-moz-placeholder { /* Firefox 18- */
    color: aquamarine;
}
.submit-button {
    font-family: 'Open Sans Condensed', sans-serif;
    display: flex;
    border: 3px solid rgb(250, 202, 226);
    background-color: aquamarine;
    color: black;
    height: 44px;
}
.submit-button:hover {
    color: aquamarine;
    background-color: rgb(250, 202, 226);
    border: 3px solid aquamarine;
}

.main-body-container {
    display: flex;
}
.track-info-container {
    display: flex;
    background-color: black;
    flex-direction: column;
    width: 100%;
    align-items: center;
}
.track-info-container2 {
    display: flex;
    background-color: black;
    flex-direction: column;
    width: 100%;
    align-items: center;
}
.track-info-container-border-outer {
    display: flex;
    background-color: black;
    padding: 15px;
    flex-direction: column;
    width: 25%;
}
.track-info-container-border {
    display: flex;
    border: 2px solid aquamarine;
    flex-direction: column;
    height: 100%;
    /* width: 100%; */
}
.top-tracks-title {
    padding: 10px;
    display: flex;
    font-family: 'Noto Serif', serif;
    font-style: italic;
    font-size: 22px;
    color: aquamarine;
    margin: 0 auto;
    /* border-bottom: 2px solid aquamarine; */
    /* width: 70%; */
}
.top-tracks-title-line {
    display: flex;
    width: 80%;
    border-top: 2px solid aquamarine;
    
    
}
.tracks-ul {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 5px;
    padding-left: 30px;
    list-style-type: disc;

}
ul {
    list-style: none;
  }
  
li::before {
    content: "•  ";
    color: aquamarine;
    margin-right: 5px;
    margin-left: 20px;
}
.track-name {
    display: flex;
    font-family: 'Noto Serif', serif;
    font-size: 12px;
    max-width: 215px;
    color: rgb(250, 202, 226);
    padding: 3px;
}
.mid-container {
    display: flex;
    flex-direction: column;
    width: 50%;
}
.canvas {
    border: 17px solid black;
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
    max-height: 600px;
    margin-bottom: 10px;
}
.canvas-sub-container {
    display: flex;
    min-height: 75px;
    width: 100%;
    background-color: black;
    align-items: center;
    justify-content: center;
}

.tooltip {
    text-align: center;
    color: aquamarine; 
    z-index: 200;
    font-size: 32px;
    font-family: 'Open Sans Condensed', sans-serif;
    background-color: black;
    border: 2px solid aquamarine;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-top: 5px;
} 
.footer {
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.footer-info {
    font-family: 'Open Sans Condensed', sans-serif;
    display: flex;
    font-size: 12px;
    color: rgb(250, 202, 226);
    align-items: flex-end;
    padding: 5px;
    padding-left: 7px;
}
.by {
    color: aquamarine;
    font-family: 'Noto Serif', serif;
    font-style: italic;
    font-size: 10px;
    margin-right: 5px;

}
.footer-icons {
    display: flex;
    font-size: 32px;
    color: rgb(250, 202, 226);
    padding: 5px;
    padding-right: 7px;
    justify-content: space-around;
    width: 23%
}

a:hover {
    color: rgb(253, 138, 58)
}

a:visited {
    color: rgb(53, 148, 224);
  }
a:active {
    color:rgb(106, 252, 97);
}

a:visited:hover{
    color: rgb(253, 138, 58)
}
