.mid-bottom-outer {
    display: flex;
    background-color: black;
    height: 100%;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 15px;
    padding-bottom: 18px;
}
.mid-bottom-inner {
    display: flex;
    background-color: black;
    width: 100%;
    height: 100%;
    border: 2px solid aquamarine;
    flex-direction: column;
    align-items: center;
}
.mid-bottom-body {
    display: flex;
    height: 90%;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 5px;
}
.mid-bottom-body-left {
    display: flex;
    width: 33%;
    margin-left: 10px;
    height: 100%;
}
.mid-bottom-body-mid {
    display: flex;
    width: 33%;
    height: 100%;
}
.comparative-data-output {
    display: flex;
    padding: 5px;
    min-height: 448px;
}
.comparative-genre-container {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}
.top-genre-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 25%;
}
.top-genre-container2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 33%;
}
.top-genre-title {
    padding: 10px;
    padding-bottom: 3px;
    display: flex;
    font-family: 'Noto Serif', serif;
    font-style: italic;
    font-size: 14px;
    color: black;
    margin: 0 auto;
    text-align: center;
    
}
.top-genre {
    display:flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: black; 
    font-size: 1.5rem;
    font-family: 'Open Sans Condensed', sans-serif;
    background-color: rgb(250, 202, 226);
    border: 4px solid rgb(238, 80, 165);
    /* border: 4px solid rgb(252, 157, 108); */
    padding-bottom: 5px;
    height: 100%;
    width: 85%;
}
.compared-genre1 {
    font-size: 46px;
}
.compared-genre2 {
    font-size: 18px;
}
.compared-genre3 {
    font-size: 12px;
}
.keyword-combined1 {
    font-size: 46px;
}
.keyword-combined2 {
    font-size: 18px;
}
.keyword-combined3 {
    font-size: 12px;
}
.searched-user-keyword1 {
    font-size: 46px;
}
.searched-user-keyword2 {
    font-size: 18px;
}
.searched-user-keyword3 {
    font-size: 12px;
}
.common-genre-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 25%;
}

.common-genre-title {
    padding: 10px;
    padding-bottom: 3px;
    display: flex;
    font-family: 'Noto Serif', serif;
    font-style: italic;
    font-size: 14px;
    color: black;
    margin: 0 auto;
    text-align: center;
}
.common-genre {
    display:flex;
    align-items: center;
    justify-content: center;
    color: rgb(137,83,181); 
    font-size: 48px;
    font-family: 'Open Sans Condensed', sans-serif;
    background-color: rgb(99, 231, 158);
    border: 4px solid rgb(137,83,181);;
    border-radius: 7px;
    width: fit-content;
    padding-bottom: 3px;
    height: 100%;
    width: 85%;
}
.count-genre-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 25%;
}
.count-genre-container2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 33%;
}
.count-genre-title {
    padding: 10px;
    padding-bottom: 3px;
    display: flex;
    font-family: 'Noto Serif', serif;
    font-style: italic;
    font-size: 14px;
    color: black;
    margin: 0 auto;
    text-align: center;
}
.count-genre {
    display: flex;
    align-items: center;
    justify-content: center;
    color: aquamarine; 
    /* font-size: 32px; */
    font-family: 'Open Sans Condensed', sans-serif;
    background-color: black;
    border: 4px solid aquamarine;
    padding-bottom: 5px;
    height: 100%;
    width: 85%;
    font-size: 48px;
}
.percent-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 25%;
}
.percent-container2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 33%;
}
.percent-title {
    padding: 10px;
    padding-bottom: 3px;
    display: flex;
    font-family: 'Noto Serif', serif;
    font-style: italic;
    font-size: 14px;
    color: black);
    margin: 0 auto;
    text-align: center;
    padding-bottom: 5px;
}
.percent{
    display: flex;
    color: rgb(252,109,125); 
    font-size: 32px;
    font-family: 'Open Sans Condensed', sans-serif;
    background-color: rgb(199,231,132);
    border: 4px solid rgb(252,109,125);
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-top: 5px;
    margin-bottom: 5px;
    height: 100%;
    border-radius: 100%;
    width: 75%;
    /* height: 50px; */
    justify-content: center;
    align-items: center;
}
.mid-bottom-body-right {
    display: flex;
    width: 33%;
    margin-right: 10px;
    height: 100%;
}
.user-stats-title {
    font-family: 'Noto Serif', serif;
    font-style: italic;
    font-size: 16px;
    color: aquamarine;
    text-align: center;
    margin-bottom: 5px;
}
.user-stats-container {
    display: flex;
    flex-direction: column;
    border: 4px solid rgb(250, 202, 226);
    padding-bottom: 10px;
    background-color: rgb(75,201,203);
    height: 100%;
}
.user-stats-title2 {
    font-family: 'Noto Serif', serif;
    font-style: italic;
    font-size: 16px;
    color: aquamarine;
    text-align: center;
    margin-bottom: 5px;
}
.user-stats-container2 {
    display: flex;
    flex-direction: column;
    border: 4px solid rgb(250, 202, 226);
    padding-bottom: 7px;
    background-color: rgb(83,247,112, .9);
    height: 75%;
}

.searched-user-top-artist1 {
    color: aquamarine; 
    font-family: 'Open Sans Condensed', sans-serif;
    background-color: black;
    border: 4px solid aquamarine;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
    font-size: 46px;
}
.searched-user-top-artist2 {
    color: aquamarine; 
    font-family: 'Open Sans Condensed', sans-serif;
    background-color: black;
    border: 4px solid aquamarine;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
    font-size: 18px;
    margin-top: 10px;
}
.searched-user-top-artist3 {
    color: aquamarine; 
    font-family: 'Open Sans Condensed', sans-serif;
    background-color: black;
    border: 4px solid aquamarine;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
    font-size: 12px;
    margin-top: 10px;
}
.current-user-favorite-artist1 {
    font-size: 46px;
}
.current-user-favorite-artist2 {
    font-size: 18px;
}
.current-user-favorite-artist3 {
    font-size: 12px;
}
.current-user-favorite-genre1 {
    font-size: 46px;
}
.current-user-favorite-genre2 {
    font-size: 18px;
}
.current-user-favorite-genre3 {
    font-size: 12px;
}
.current-user-keyword1 {
    font-size: 46px;
}
.current-user-keyword2 {
    font-size: 18px;
}
.current-user-keyword3 {
    font-size: 12px;
}

.user-stats-title3 {
    font-family: 'Noto Serif', serif;
    font-style: italic;
    font-size: 16px;
    color: aquamarine;
    text-align: center;
    margin-bottom: 5px;
}
.user-stats-container3 {
    display: flex;
    flex-direction: column;
    border: 4px solid rgb(250, 202, 226);
    padding-bottom: 10px;
    background-color: rgb(255,157,115, .97);
    height: 100%;
}
.mid-bottom-line {
    width: 90%;
    border-top: 2px solid aquamarine;

}